.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
airflow_ec2_key.pem
venv/
winnipeg-transit-data-pipeline-ae83de2d5487.json
dag_GCP_Test.py
exampledag.py
.astro 
extracted_data/
Trial.ipynb
test_dag_example.py